:root {
  /* common CSS variables */
  --body-font: 'Lora', 'Times New Roman', serif;
  /* --header-font: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif; */

  --primary: #4c40d4;
  --primary-dark: #767582;

  --mid-col: #767582;
  --page-col: hsl(245, 20%, 95%);
  --text-col: #222832;

  --link-col: #4C40D4;
  --hover-col: #6456FF;

  --navbar-col: #03002A;
  --navbar-text-col: #767582;
  --navbar-border-col: #DDDDDD;

  --footer-col: hsl(245, 10%, 90%);
  --footer-text-col: #767582;
  --footer-link-col: #767582;
  --footer-hover-col: #6456FF;
}

@font-face {
  font-family: 'Archive';
  src: url(/assets/fonts/Archive.otf) format('opentype');
}

h1, h2, h3, h4, h6 {
  color: #03002a;
}

.page-heading > h1 {
  font-family: 'Archive';
  text-transform: uppercase;
}